/* region ------ colors ------*/
/* #endregion ------ colors ------- */
/* region ------ typography ------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.3em 0;
  padding: 0 0 0.3em 0;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
}

h1 {
  margin: 0 auto;
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 0;
  max-width: 1200px;
  font-weight: 900;
}

h2 {
  /*font-size: 30px;*/
  font-size: 2em;
  font-weight: 300;
}

h3 {
  /*font-size: 25px;*/
  font-size: 1.3em;
  font-weight: 300;
  /*font-family: 'Open Sans', sans-serif;*/
  margin-bottom: 0.5em;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  /*font-size: 20px;*/
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
  /*border-bottom: 1px solid #ccc; display: inline-block; margin-bottom: 0.8em;*/
}

h5 {
  /*font-size: 17px;*/
  font-size: 1.2em;
  font-weight: 400;
  /*text-transform: uppercase; border-bottom: 1px solid #ccc; display: inline-block; margin-bottom: 0.8em;*/
}

h6 {
  /*font-size: 15px;*/
  font-size: 1.1em;
  font-weight: 400;
  /*text-transform: uppercase; border-bottom: 1px solid #ccc; display: inline-block; margin-bottom: 0.8em;*/
}

/* #endregion ------ typography ------- */
/* region ------ breakpoints ------*/
.responsive .mobile {
  background-color: lightcoral;
}

@media (max-width: 424px) {
  .responsive .mobile {
    display: block;
  }
}

@media (min-width: 425px) {
  .responsive .mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .responsive .mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .responsive .mobile {
    display: none;
  }
}

@media (min-width: 1400px) {
  .responsive .mobile {
    display: none;
  }
}

.responsive .tablet {
  background-color: lightgreen;
}

@media (max-width: 424px) {
  .responsive .tablet {
    display: none;
  }
}

@media (min-width: 425px) {
  .responsive .tablet {
    display: none;
  }
}

@media (min-width: 768px) {
  .responsive .tablet {
    display: block;
  }
}

@media (min-width: 1024px) {
  .responsive .tablet {
    display: none;
  }
}

@media (min-width: 1400px) {
  .responsive .tablet {
    display: none;
  }
}

.responsive .laptop {
  background-color: lightcyan;
}

@media (max-width: 424px) {
  .responsive .laptop {
    display: none;
  }
}

@media (min-width: 425px) {
  .responsive .laptop {
    display: none;
  }
}

@media (min-width: 768px) {
  .responsive .laptop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .responsive .laptop {
    display: block;
  }
}

@media (min-width: 1400px) {
  .responsive .laptop {
    display: none;
  }
}

.responsive .desktop {
  background-color: lightblue;
}

@media (max-width: 424px) {
  .responsive .desktop {
    display: none;
  }
}

@media (min-width: 425px) {
  .responsive .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .responsive .desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .responsive .desktop {
    display: none;
  }
}

@media (min-width: 1400px) {
  .responsive .desktop {
    display: block;
  }
}

/* #endregion ------ breakpoints ------- */
/* region ------ Base ------*/
html {
  overflow: hidden;
  overflow-y: auto;
}

body {
  background-color: #EEEEEE;
  color: #000000;
  font-size: 16px;
  line-height: 1.9em;
  text-align: center;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

body .content {
  /* float: left; */
  width: 100%;
  background-color: #ffffff;
  max-width: 1400px;
  margin: 0 auto;
}

.cta a.button {
  border-radius: 2px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 40px;
  float: none;
  display: inline-block;
  width: 100%;
  max-width: 330px;
  margin: 10px 0 5px 0;
  color: #000000;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  background-color: #FFCF00;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cta a.button:hover {
  background-color: #7F6700;
  color: #ffffff;
}

@media (min-width: 768px) {
  .cta.left_align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
  float: none;
}

img {
  width: 100%;
}

/* #endregion ------ Base ------- */
/* region ------ topnav ------*/
.top_nav {
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
  padding: 20px;
}

.top_nav .logo {
  height: 30px;
  width: 90px;
  float: left;
  background-image: url(../images/stripe.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@media (max-width: 424px) {
  .top_nav .navigation {
    display: none;
  }
}

.top_nav .navigation a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: 'Exo 2', sans-serif;
}

.top_nav .navigation a:hover {
  color: #FFCF00;
}

/* #endregion ------ topnav ------- */
/* region ------ billboard ------*/
.billboard {
  background-image: url("../images/header_img_sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-bottom: 10px;
}

.billboard .title {
  margin: 0px 0 70px 0;
  padding-right: 10px;
}

.billboard .title .pt_1 {
  color: #FFCF00;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
  text-align: right;
}

@media (min-width: 768px) {
  .billboard .title .pt_1 {
    font-size: 3em;
  }
}

.billboard .title .pt_2 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.9em;
  text-align: right;
  margin-top: -40px;
}

@media (min-width: 768px) {
  .billboard .title .pt_2 {
    font-size: 2.5em;
  }
}

.billboard .slide_show {
  height: 30px;
  max-width: 1200px;
  padding: 200px 0 200px 0;
  margin: 0 auto;
}

.billboard .slide_show .slide_left {
  height: 30px;
  width: 30px;
  float: left;
}

.billboard .slide_show .slide_left img {
  width: 60%;
}

.billboard .slide_show .slide_right {
  height: 30px;
  width: 30px;
  float: right;
}

.billboard .slide_show .slide_right img {
  width: 60%;
}

.billboard .slide_squares {
  width: 80px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.billboard .slide_squares .square_active {
  height: 15px;
  width: 15px;
  background-color: #FFCF00;
}

.billboard .slide_squares .square_blank {
  height: 15px;
  width: 15px;
  background-color: #EEEEEE;
}

.billboard .cta {
  padding: 10px;
}

/* #endregion ------ billboard ------- */
/* region ------ product info ------*/
@media (min-width: 1024px) {
  .product_info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
  }
}

.product_info .info_box {
  background-color: #000000;
  padding: 30px;
}

.product_info .info_box h2 {
  text-align: left;
  color: #FFCF00;
}

.product_info .info_box p.intro {
  color: #ffffff;
  text-align: left;
  font-weight: 700;
}

.product_info .info_box p {
  color: #ffffff;
  text-align: left;
  font-size: 0.8em;
}

@media (min-width: 768px) {
  .product_info .info_box {
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .product_info .prod_image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 600px;
  }
}

/* #endregion ------ product info ------- */
/* region ------ product grid ------*/
p.intro {
  color: #000000;
  text-align: left;
}

.product_grid {
  margin: 40px 0 40px 0;
}

@media (min-width: 768px) {
  .product_grid {
    padding: 30px;
  }
}

.product_grid .introduction {
  margin-top: 20px;
}

.product_grid .product_grid_items .product_grid_items_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 8px;
  margin-bottom: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .product_grid .product_grid_items .product_grid_items_wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}

.product_grid .product_grid_items .product_grid_items_wrap .single_product {
  text-transform: uppercase;
}

.product_grid .product_grid_items .product_grid_items_wrap .single_product .prod_title h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.product_grid .product_grid_items .product_grid_items_wrap .single_product .price .figure {
  font-size: 2em;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.product_grid .product_grid_items .product_grid_items_wrap .single_product .finishes .label_txt {
  width: 50%;
  float: left;
  text-align: right;
}

.product_grid .product_grid_items .product_grid_items_wrap .single_product .finishes .label_txt span {
  text-transform: capitalize;
}

.product_grid .product_grid_items .product_grid_items_wrap .single_product .finishes .finish_colors {
  width: 50%;
  float: left;
  margin-top: 6px;
}

.product_grid .product_grid_items .product_grid_items_wrap .single_product .finishes .finish_colors .sq_color_1,
.product_grid .product_grid_items .product_grid_items_wrap .single_product .finishes .finish_colors .sq_color_2,
.product_grid .product_grid_items .product_grid_items_wrap .single_product .finishes .finish_colors .sq_color_3 {
  float: left;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}

.product_grid .product_grid_items .product_grid_items_wrap .single_product .finishes .finish_colors .sq_color_1 {
  background-color: #525252;
}

.product_grid .product_grid_items .product_grid_items_wrap .single_product .finishes .finish_colors .sq_color_2 {
  background-color: #EEEEEE;
}

.product_grid .product_grid_items .product_grid_items_wrap .single_product .finishes .finish_colors .sq_color_3 {
  background-color: #000000;
}

/* #endregion ------ product grid ------- */
/* region ------ product info two ------*/
@media (min-width: 1024px) {
  .product_info .prod_image.second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
}

/* #endregion ------ product info two  ------- */
/* region ------ latest news ------*/
.latest_news .introduction {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .latest_news .introduction {
    padding: 30px;
  }
}

.latest_news .introduction p {
  text-align: center;
}

.latest_news .news_wrap .news_item {
  padding: 30px;
}

@media (min-width: 1024px) {
  .latest_news .news_wrap .news_item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.latest_news .news_wrap .news_item .info_box {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 30px;
  margin-top: -20px;
}

@media (min-width: 1024px) {
  .latest_news .news_wrap .news_item .info_box {
    grid-column: span 3 / auto;
    margin: 0;
  }
}

.latest_news .news_wrap .news_item .info_box h2 {
  text-align: left;
}

.latest_news .news_wrap .news_item .info_box p {
  text-align: left;
}

.latest_news .news_wrap .news_item_two {
  display: none;
}

.latest_news .cta.blk {
  padding: 20px;
}

.latest_news .cta.blk a.button {
  padding: 0px;
  margin: 10px 0 10px 0;
  max-width: 330px;
  color: #FFCF00;
  background-color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.latest_news .cta.blk a.button:hover {
  color: #FFCF00;
}

/* #endregion ------ latest news ------- */
/* region ------ video player ------*/
.product_video {
  background-image: url("../images/video_thumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-bottom: 10px;
  height: 300px;
  position: relative;
}

.product_video .play_btn {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* #endregion ------ video player ------- */
/* region ------ email signup ------*/
.email_signup {
  background-color: #FFCF00;
  padding: 30px;
}

.email_signup .form_wrap h2 {
  color: #000000;
  font-weight: 700;
  font-size: 1.5em;
}

.email_signup .form_wrap .txt_input {
  margin: 0 auto;
  display: block;
  float: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.email_signup .form_wrap .txt_input input[type="text"] {
  padding: 10px;
  width: 100%;
  max-width: 330px;
}

.email_signup .form_wrap .cta.blk a.button {
  color: #FFCF00;
  background-color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.email_signup .form_wrap .cta.blk a.button:hover {
  color: #FFCF00;
}

/* #endregion ------ email signup ------- */
/* region ------ footer ------*/
.footer_area {
  background-color: #000000;
  color: #ffffff;
  padding: 30px;
}

.footer_area .footer_wrap {
  max-width: 600px;
}

.footer_area .footer_wrap h2 {
  font-weight: 700;
  font-size: 1.5em;
  text-align: left;
}

.footer_area .footer_wrap p {
  font-size: 0.8em;
  text-align: left;
}

.footer_area .footer_wrap .details {
  text-align: left;
}

.footer_area .footer_wrap .social_media {
  width: 80px;
  float: left;
  margin: 0 auto;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.footer_area .footer_wrap .social_media .social_link {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #FFCF00;
}

.footer_area .footer_wrap .navigation {
  background-color: #000000;
  float: left;
  text-align: left;
  margin-top: 20px;
}

.footer_area .footer_wrap .navigation a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 0.5em;
  font-family: 'Exo 2', sans-serif;
}

.footer_area .footer_wrap .navigation a:hover {
  color: #FFCF00;
}

/* #endregion ------ footer ------- */
/*# sourceMappingURL=main.css.map */